<h1>DBZ main pages personajes</h1>
<hr>

<div class="row">
    <div class="col">

        <!-- Esto es como decir te envio characters y recibelos en characterList alla en 
             listPersonajes y cuando enviamos del padre al hijo usamos [] emite del padre al hijo -->
        <app-listpersonajes [characterList]="characters"></app-listpersonajes>

        <!-- Esto ul incluyendo el h4 podria ser un componente -->
        <!--<h4>Listado de personajes</h4>
        <ul class="list-group">
            <li class="list-group-item">Grillin - 500</li>
            <li class="list-group-item">Goku - 9500</li>            
            <li class="list-group-item">Mati - 20000</li>
            <li class="list-group-item">Cami - 20000</li>            
        </ul>-->
    </div>

    <div class="col">

        <!-- Aqui se recibe lo del hijo app-add-personaje a este padre main-page y como quiero escuchar 
            que emite el hijo al padre le colocamos entre () y adicional aqui en el padre recibimos lo 
            del hijo en onNewPersonaje -->
        <app-add-personaje (onNewPersonaje)="onNewPersonaje($event)"></app-add-personaje>

        <!-- Todo esto va para otro componente -->
        <!--
        <h4>Agregar personaje</h4>

        <form class="row">
            <input type="text" class="form-control mb-2" placeholder="Nombre del personaje">
            <input type="number" class="form-control mb-2" placeholder="Número">
            
            <button type="submit"  class="btn btn-primary">
                Agregar
            </button>

        </form>
        -->
    </div>

</div>