<!-- Va a ser utilizado en el app-component, este componente como esta en gits module alla
     lo debemos incluir en el export para que pueda ser utilizado en el app-component,
     alla se exporta por el nombre del componente no por el app-selector -->
<div class="row p-3">
    <div class="col-12">
        <!-- Busqueda, este componente esta dentro de gifs/component/search y alli se metio en el
             modulo pero como el modulo se importo en app.module -->
        <app-search-box></app-search-box>
    </div>

    <div class="col-12 pt-2">
        <!-- Listado de gift -->
        <app-card-list></app-card-list>
        
    </div>

</div>
