<p>card-list works!</p>
<ul>
    <li>Primero</li>
    <li>Segundo</li>    
    <li>Tercero</li>       
</ul>

<div class="row">
    <!-- Esto significa que en md-3 pantallas medianas toma 3 y en pantallas pequeñas 
         sm small toma 6 esto se va a hacer en un componente aparte mas adelante porque esto 
         se repite-->
    <div class="col-md-3 col-sm-6">
        <div class="card mb-2 text-center bg-dark">
            <!-- TODO crear imagen -->

            <div class="card-body text-white">
                <p class="card-text">Hola Mauricio eres saludable, abundante, prospero tienes a DIOS gracias señor y virgencita</p>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card mb-2 text-center bg-dark">
            <!-- TODO crear imagen -->

            <div class="card-body text-white">
                <p class="card-text">Hola Mauricio eres saludable, abundante, prospero tienes a DIOS gracias señor y virgencita</p>
            </div>

        </div>

    </div>

</div>